<div id="main" class="palm-hasheader">
     <div class="palm-scrim menu-panel" x-mojo-menupanel-scrim="" id="scrim"></div>
     <div id="palm-header-toggle-menupanel" class="palm-header left" x-mojo-touch-feedback="momentary">
         <div id="spinner" x-mojo-element="Spinner"></div>
         <div class="truncating-text">Paste</div>
     </div>

     <div class="menu-header-container">
         <div class="palm-menu-panel" x-mojo-menupanel="">
             <div class="palm-menu-panel-fade-top" x-mojo-scroll-fade="top">
                 <div class="palm-menu-panel-fade-top-bg"></div>
                 <div class="palm-menu-panel-fade-top-arrow"></div>
             </div>
             <div class="palm-menu-panel-fade-bottom" x-mojo-scroll-fade="bottom">
                 <div class="palm-menu-panel-fade-bottom-bg"></div>
                 <div class="palm-menu-panel-fade-bottom-arrow"></div>
             </div>

             <div class="palm-menu-panel-wrapper" x-mojo-element="Scroller" id="example-menu-panel">
                 <div class="palm-list" id="list">
                     <div class="palm-row first" x-mojo-touch-feedback="delayed" id="firstrow">
                         <div class="palm-row-wrapper">
                             <div class="title truncating-text"></div>
                         </div>
                     </div>

                     <div class="palm-row" x-mojo-touch-feedback="delayed" id="middlerow">
                         <div class="palm-row-wrapper">
                             <div class="title truncating-text"></div>
                         </div>
                     </div>

                     <div class="palm-row last" x-mojo-touch-feedback="delayed" id="lastrow">
                         <div class="palm-row-wrapper">
                             <div class="title truncating-text"></div>
                         </div>
                     </div>
                 </div>
             </div>
     </div>
 
     <div id="text" style="margin-left: 15px; margin-right: 15px;" x-mojo-element="TextField"></div>

     <div class="palm-scrim menu-panel" x-mojo-menupanel-scrim="" id="scrim2"></div>

</div>
